# DB config (Posgresql)
DB_USERNAME=example
DB_PASSWORD=example
DB_HOST=example

# PG config
PGUSER=example
PGPASSWORD=example
POSTGRES_PASSWORD=example

# config encryption
RAILS_MASTER_KEY=e906043607e7866c356ae1f960720b0c

# serve static file
RAILS_SERVE_STATIC_FILES=true

# S3
S3_BUCKET=example
S3_REGION=ap-southeast-1
