REDIS_PASSWORD=Aa123456
NODE_OPTIONS=--openssl-legacy-provider

# Grafana
GRAFANA_CLOUD_PUSH_URL=xxx
GRAFANA_CLOUD_USER=xxx
GRAFANA_CLOUD_API_KEY=xxx

GRAFANA_CLOUD_LOKI_USER=xxx
GRAFANA_CLOUD_LOKI_URL=xxx