services:
  app:
    container_name: blog_development
    build:
      context: .
      dockerfile: .envs/development/ruby/Dockerfile
    image: blog_image:latest
    command: bash -c "rm -f tmp/pids/server.pid && bundle install && bundle exec rails s -p 3000 -b '0.0.0.0'"
    volumes:
      - .:/blog
    ports:
      - "30001:3000"
    depends_on:
      - postgres
    networks:
      - internal
    env_file:
      - .env
    tty: true
    stdin_open: true

  postgres:
    image: postgres
    ports:
      - "54321:5432"
    env_file:
      - .env
      - .env.docker
    volumes:
      - ./data:/var/lib/postgresql
    networks:
      - internal

  redis:
    image: redis:7.2.12
    env_file:
      - .env.docker
    ports:
      - 63791:6379
    command: ["bash", "-c", "docker-entrypoint.sh --requirepass $${REDIS_PASSWORD}"]
    networks:
      - internal

networks:
  internal:
    driver: bridge
