.category-preview {
  display: inline-block;
  padding: 0 5px;
  border: 1px solid blue;
  border-radius: 5px;
  max-width: 5rem;
}

.category-add-btn {
  position: relative;
  top: 4px;
  border: 1px solid #0085A1;
  padding: 7px;
  right: 76px;
}

.category-preview-wrapper {
  position: absolute;
  display: inline-block;
  margin-right: 10px;
}

.delete-category-btn {
  position: absolute;
  top: -6px;
  font-size: 10px;
  right: -10px;
  border: 1px solid gray;
  border-radius: 20px;
  padding: 0 4px;
  color: white;
  background-color: gray;
  cursor: pointer;
}

.user-category {
  padding: 3px 10px;
  background-color: #6c757d;
  color: white;
  border-radius: 15px 0;
  font-size: 15px;
  display: inline-block;
}
