<h1>This is administration page</p>

<div class="dashboard-card">
  <div class="statistic-title">
    <span>Post per week</span>
  </div>

  <div class="statistic-data">
    <span><%= @post_per_week || '-' %></span>
  </div>
</div>

<div class="dashboard-card">
  <div class="statistic-title">
    <span>Post per month</span>
  </div>

  <div class="statistic-data">
    <span><%= @post_per_month || '-' %></span>
  </div>
</div>

<div class="dashboard-card">
  <div class="statistic-title">
    <span>Server Cost</span>
  </div>

  <div class="statistic-data">
    <span>$<%= @server_cost || '-' %></span>
  </div>
</div>
