/* line 3, app/assets/stylesheets/badge.scss */
.badge {
  display: inline-block;
  padding: 0.25em 0.4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
}

/* line 15, app/assets/stylesheets/badge.scss */
.badge:empty {
  display: none;
}

/* line 20, app/assets/stylesheets/badge.scss */
.btn .badge {
  position: relative;
  top: -1px;
  color: #664227 !important;
}

/* line 26, app/assets/stylesheets/badge.scss */
.badge-pill {
  padding-right: 0.6em;
  padding-left: 0.6em;
  border-radius: 10rem;
}

/* line 32, app/assets/stylesheets/badge.scss */
.badge-primary {
  color: #fff;
  background-color: #007bff;
}

/* line 37, app/assets/stylesheets/badge.scss */
.badge-secondary {
  color: #664227;
  background-color: #e0e2e4;
}

/* line 42, app/assets/stylesheets/badge.scss */
.badge-success {
  color: #664227;
  background-color: #eca1a6;
}

/* line 47, app/assets/stylesheets/badge.scss */
.badge-danger {
  color: #fff;
  background-color: #dc3545;
}

/* line 52, app/assets/stylesheets/badge.scss */
.badge-warning {
  color: var(--bs-gray-900);
  background-color: #ffc107;
}

/* line 57, app/assets/stylesheets/badge.scss */
.badge-info {
  color: #fff;
  background-color: #17a2b8;
}

/* line 62, app/assets/stylesheets/badge.scss */
.badge-light {
  color: var(--bs-gray-900);
  background-color: #f8f9fa;
}

/* line 67, app/assets/stylesheets/badge.scss */
.badge-dark {
  color: #fff;
  background-color: #343a40;
}
