/* line 1, app/assets/stylesheets/custom.scss */
.small-content-container {
  margin: auto 30%;
}

/* line 4, app/assets/stylesheets/custom.scss */
.small-content-container label {
  align-self: start;
}

/* line 9, app/assets/stylesheets/custom.scss */
.custom-alert {
  background-color: red;
  color: white;
  margin: 0;
}

/* line 15, app/assets/stylesheets/custom.scss */
.notice {
  background-color: black;
  color: white;
  margin: 0;
}

/* line 21, app/assets/stylesheets/custom.scss */
.admin-container {
  display: inline-block;
  flex: 1;
  margin: 10px;
  width: 70%;
  max-height: 98vh;
  overflow: auto;
}

/* line 30, app/assets/stylesheets/custom.scss */
.flex-parent-container {
  display: flex;
  width: 100%;
}

/* line 35, app/assets/stylesheets/custom.scss */
.input-group-35vw {
  width: 35vw !important;
}

/* line 40, app/assets/stylesheets/custom.scss */
.form-select-time {
  display: inline !important;
  width: 30% !important;
}

/* line 46, app/assets/stylesheets/custom.scss */
.form-group {
  margin-bottom: 5px;
}

/* line 50, app/assets/stylesheets/custom.scss */
.error-feedback {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 80%;
  color: red;
}

/* line 57, app/assets/stylesheets/custom.scss */
.content-input {
  max-height: 70vh;
  overflow-y: scroll;
}

/* line 62, app/assets/stylesheets/custom.scss */
.sticky {
  position: fixed;
  background-color: var(--bs-body-bg);
  width: 100%;
}

/* line 68, app/assets/stylesheets/custom.scss */
.small-announcement {
  color: #fff;
  font-size: 14px;
  font-weight: lighter;
  font-style: italic;
  margin-top: 1rem;
}

/* line 75, app/assets/stylesheets/custom.scss */
.small-announcement a {
  color: #fff;
}

/* line 80, app/assets/stylesheets/custom.scss */
.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (max-width: 1200px) {
  /* line 87, app/assets/stylesheets/custom.scss */
  .input-group-35vw {
    width: 100% !important;
  }
  /* line 92, app/assets/stylesheets/custom.scss */
  .form-select-time {
    display: inline !important;
    width: 48% !important;
  }
}
