/* The side navigation menu */
/* line 2, app/assets/stylesheets/sidebar.scss */
.sidebar {
  margin-right: 20px;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  display: inline-block;
  height: 100vh;
  overflow: auto;
}

/* line 11, app/assets/stylesheets/sidebar.scss */
.sidebar .danger-action {
  color: #dc3545;
}

/* Sidebar links */
/* line 17, app/assets/stylesheets/sidebar.scss */
.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

/* Active/current link */
/* line 25, app/assets/stylesheets/sidebar.scss */
.sidebar a.active {
  background-color: #0085A1;
  color: white;
}

/* Links on mouse-over */
/* line 31, app/assets/stylesheets/sidebar.scss */
.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  /* line 38, app/assets/stylesheets/sidebar.scss */
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  /* line 43, app/assets/stylesheets/sidebar.scss */
  .sidebar a {
    float: left;
  }
  /* line 44, app/assets/stylesheets/sidebar.scss */
  div.content {
    margin-left: 0;
  }
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  /* line 49, app/assets/stylesheets/sidebar.scss */
  .sidebar a {
    text-align: center;
    float: none;
  }
}
