<header class="masthead" style="background-image: url('assets/img/about-bg.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="page-heading">
                    <h1>Về chính mình</h1>
                    <span class="subheading">Mình hiện đang là lập trình viên Ruby on Rails.</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content-->
<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <p>Mình có 2 năm kinh nghiệm code Ruby on Rails</p>
                <p>Mình tham gia cộng đồng lập trình theo định hướng gia đình. Sau khi ra trường và đi làm mình gặp được nhiều đồng nghiệp, đàn anh đi trước rất đam mê với nghề và đâu đó lây lan sang cho mình ngọn lửa nhiệt huyết
                 <i class="fa-solid fa-fire"></i>
                </p>
                <p>Hiện tại mình thấy hạnh phúc khi được học hỏi mỗi ngày, được góp 1 phần tạo ra phần mềm giúp ích cho người dùng và tất nhiên kiếm được
                  <b>tiền</b> <i class="fa-solid fa-sack-dollar"></i>
                </p>
                <p>Blog này được tạo vì mình muốn lưu lại những gì mình học được trong quá trình làm việc / tìm hiểu về công nghệ.</p>
                <p>Mình thích xem anime, đọc truyện fantasy, đọc sách. Đặc biệt mình thích những không gian thoáng đãng và ít người</p>
            </div>
        </div>
    </div>
</main>
