<header class="masthead" style="background-image: url('assets/img/about-bg.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="page-heading">
                    <h1>Về chính mình</h1>
                    <span class="subheading">và trang blog này</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content-->
<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <p>Chào mọi người, mình là Lưu Đại.</p>
                <p>
                  Lập trình viên Ruby on Rails với 2 năm kinh nghiệm
                </p>
                <p>Thích đọc sách, viết blog, game
                </p>
            </div>
        </div>
    </div>
</main>
