<header class="masthead" style="background-image: url('assets/img/about-bg.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="page-heading">
                    <h1>Về chính mình</h1>
                    <span class="subheading">và trang blog này</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content-->
<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <p>Chào mọi người, mình là Lưu Đại lập trình viên Ruby on Rails.</p>
                <p>
                  Sau khi đi làm được 2 năm mình nhận thấy những kiến thức mà mình quên đi chắc phải nhiều ngang những kiến thức mà mình học được khi đi làm.
                  Nên ban đầu mình lập ra trang web này để  lưu lại những gì mình học được, những tip trick, công cụ bản thân thấy thú vị.
                </p>
                <p>Cho tới thời điểm mình update trang about (ngày 28.05.2023) việc viết trang blog này đã giúp mình rất nhiều.
                    Đọc lại những bài viết kể từ khi mình tạo trang tới giờ, mình thấy khá tự hào vì tuy bài ra không đều nhưng mình chưa từng từ bỏ việc viết bài trong suốt 6 tháng kể từ khi tạo trang (18.12.2022 - 28.5.2023).
                    Việc làm trang web này cũng cho mình những trải nghiệm thú vị hơn, nhũng cảm giác tưởng chừng mình đã quên mất khi mình còn đi học.
                    Mình nhớ lại lần đầu chạy những dòng code hello world C++ đầu tiên cho tới những buổi chiều ngồi cày từng challenge problem solving trên Hackerrank.
                    Những mùa hè năm 2, năm 3 đi thực tập.
                </p>
                <p>Sau 2 năm đi làm mình nhận thấy góc nhìn của mình đối với việc lập trình không còn thuần khiết chỉ là mình thích code như là hồi còn đi học nữa.
                   Lập trình giờ là tiền bạc, áp lực deadline, đấu tranh vì lợi ích riêng.
                   Cho tới khi nhận ra thì bản thân mình cũng không còn là mình khi học đại học nữa rồi.
                   Có thể cho tới 10 năm sau mình sẽ còn thay đổi nhiều hơn nữa. Nên mình muốn lưu lại những gì bản thân đã học và làm được khi 25 tuổi biết đâu mình lúc 35 tuội lại học được điều gì đó từ mình lúc 25 tuổi thì sao.
                </p>
                <p>
                   Mình thích <del>xem anime, đọc truyện fantasy, đọc sách. Đặc biệt mình thích những không gian thoáng đãng và ít người</del> viết blog và làm phần mềm.<br>
                   Lúc rảnh rỗi mình có thể ngồi yên lặng và nhớ về những kỉ niệm thời xa lắc xa lơ.<br>
                   Mình thích những điều mới mẻ và hảo hứng khi làm những ý tưởng mới.
                </p>
            </div>
        </div>
    </div>
</main>
