<% feeds.each do |feed| %>
  <div class="card mb-3">
    <div class="card-header bg-light">
      <h5 class="card-title mb-0"><%= feed['title'] %></h5>
    </div>
    <div class="card-body">
      <p class="card-text"><%= feed['description'] %></p>
    </div>
  </div>
<% end %>
