<% feeds.each do |feed| %>
  <div class="card mb-3">
    <div class="card-header bg-light">
      <h5 class="card-title mb-0 w-80"><%= feed['title'] %></h5>

    </div>
    <div class="card-body position-relative">
      <span class="card-text"><%= feed['description'] %></span>
      <span class="position-absolute bottom-0 end-0 me-2"><%= link_to "Go to post", feed['source'], target: :_blank %></span>
    </div>
  </div>
<% end %>
