<%= form_with url: admin_posts_path,
              method: :get,
              remote: true do |form| %>
  <div class="input-group input-group-35vw">
    <%= form.text_field :search_text, class: 'form-control', placeholder: 'Search' %>
    <div class="input-group-append">
      <%= form.submit 'Search', class: 'btn btn-secondary btn-without-margin' %>
    </div>
  </div>
<% end %>
