<%= form_with url: admin_posts_path,
              method: :get,
              remote: true do |form| %>
  <div class="input-group input-group-35vw">
    <%= form.text_field :search_text, class: 'form-control', placeholder: 'Search' %>
    <div class="input-group-append">
      <%= form.button type='submit', class: 'btn btn-secondary btn-without-margin' do %>
        <%= icon 'search', library: 'boxicons' %>
      <% end %>
    </div>
  </div>
<% end %>
