<h1>List Post</h1>
<%= render partial: 'search' %>
<%= link_to('New Post', new_admin_post_path, class: 'btn btn-primary') %>
<% if @posts.present? %>
  <table class="table">
    <thead>
      <tr>
        <th class="col">Subject</th>
        <th class="col">Author</th>
        <th class="col">Status</th>
        <th class="col">Action</th>
      </tr>
    </thead>
    <tbody id="admin-posts">
      <%= render @posts %>
    </tbody>
  </table>
  <div id="admin-posts-paginate">
    <%== pagy_bootstrap_nav(@pagy) %>
  </div>
<% else %>
  'NO POSTS'
<% end %>
