<%= text_field_tag('', admin_announcement_path(1), {id: 'update-announcement-path', class: 'd-none'}) %>

<div class="modal d-none" id="announcement-duration" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Select announcement expired time</h5>
        <button type="button" class="btn-close" id="close-announcement-duration-modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body d-flex justify-content-around">
        <%= render partial: 'duration_option' %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="activate-announcement-btn">Submit</button>
        <button type="button" class="btn btn-secondary" id="cancel-announcement-duration-modal" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>
