<div class="d-inline-block w-10">
  <div class="announcement-duration-option" id="one-day" data-duration-second="86400">1 days</div>
</div>

<div class="d-inline-block w-10">
  <div class="announcement-duration-option" id="one-week" data-duration-second="604800">1 weeks</div>
</div>

<div class="d-inline-block w-10">
  <div class="announcement-duration-option selected" id="never">Never expired</div>
</div>
