<h1>Edit Reminder</h1>

<%= form_with url: admin_reminder_path(@reminder),
              method: :patch,
              scope: :reminder do |form| %>
  <%= render partial: 'form', locals: { form: form } %>
<% end %>
