<h1 class="admin-title">Edit Reminder</h1>

<div class="main-container">
  <%= form_with url: admin_reminder_path(@reminder),
                method: :patch,
                scope: :reminder do |form| %>
    <%= render partial: 'form', locals: { form: form } %>
  <% end %>
</div>
