<h1>List Remind</h1>
<%= link_to('New reminder', new_admin_reminder_path, class: 'btn btn-primary') %>
<% if @reminders.present? %>
  <table class="table table-hover mt-3 table-striped table-bordered">
    <thead>
      <tr>
        <th class="col">Title</th>
        <th class="col">Content</th>
        <th class="col">Day</th>
        <th class="col">Time</th>
        <th class="col">Only Once</th>
      </tr>
    </thead>
    <tbody id="admin-reminders">
      <%= render @reminders %>
    </tbody>
  </table>
  <div id="admin-reminders-paginate" class="pagination-admin">
    <%== pagy_bootstrap_nav(@pagy) %>
  </div>
<% else %>
  'NO REMINDS'
<% end %>
