<%= render partial: 'shared/breadcrumbs', locals: { sites: [{name: 'Reminders', url: '#'}] } %>

<h1 class="admin-title">Reminds</h1>
<%= link_to('New reminder', new_admin_reminder_path, class: 'btn btn-primary') %>
<% if @reminders.present? %>
  <table class="table table-hover mt-3 table-striped table-bordered">
    <thead>
      <tr>
        <th class="col text-center">Title</th>
        <th class="col text-center">Content</th>
        <th class="col text-center">Day</th>
        <th class="col text-center">Time</th>
        <th class="col text-center">Only Once</th>
        <th class="col text-center">Action</th>
      </tr>
    </thead>
    <tbody id="admin-reminders">
      <%= render @reminders %>
    </tbody>
  </table>
  <div id="admin-reminders-paginate" class="pagination-admin d-flex justify-content-center">
    <%== pagy_bootstrap_nav(@pagy) %>
  </div>
<% else %>
  'NO REMINDS'
<% end %>
