<div class="position-relative w-100">
  <% filter_params.each do |filter, value| %>
    <span class="filter-category"><%= I18n.t("posts.search.#{filter}") %>: <%= value %></span>
  <% end %>
  <%= link_to 'X', user_posts_path, remote: true, class: "clear-filter #{'d-none' if filter_params.values.blank?}" %>
</div>
