<!-- Page Header-->
<header class="masthead">
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="site-heading">
          <h1>Code Để Học</h1>
          <span class="subheading">Blog để note lại những gì mình đã học được</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
          <% unless @posts.blank? %>
            <!-- Post preview-->
            <% @posts.each do |post| %>
              <div class="post-preview">
                <%= link_to user_post_path(post) do %>
                  <h3 class="post-title"><%= post.subject %></h2>
                <% end %>
                <p class="post-meta">
                    Đăng bởi
                    <!-- Thêm link tới about sau khi hoàn thành trang about -->
                    <a href="#!">Lưu Đại</a>
                    on <%= post.created_at.strftime('%d-%m-%Y') %>
                </p>
              </div>

              <hr class="my-4" />
            <% end %>

            <!-- Pager-->
            <div class='d-flex justify-content-center'>
              <%== pagy_bootstrap_nav(@pagy) %>
            </div>
          <% end %>
        </div>
    </div>
</div>
