.small-content-container {
  margin: auto 30%;

  label {
    align-self: start;
  }
}

.custom-alert {
  background-color: red;
  color: white;
  margin: 0;
}

.notice {
  background-color: var(--bs-gray-900);
  color: white;
  margin: 0;
}

.admin-container {
  display: inline-block;
  flex: 1;
  margin: 10px;
  width: 70%;
  max-height: 98vh;
  overflow: auto;
}

.flex-parent-container {
  display: flex;
  width: 100%;
  background-color: #e1cdb4;
}

.input-group-35vw{
  width: 35vw !important;
}

.form-select {
  &-time {
    display: inline !important;
    width: 30% !important;
  }
}

.form-group {
  margin-bottom: 5px;
}

.error-feedback {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 80%;
  color: red;
}

.content-input {
  max-height: 70vh;
  overflow-y: scroll;
}

.sticky {
  position: fixed;
  background-color: #e1cdb4;
  width: 100%
}

.small-announcement {
  color: #fff;
  font-size: 14px;
  font-weight: lighter;
  font-style: italic;
  margin-top: 1rem;

  a {
    color: #fff
  }
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.error-message {
  font-size: 15px;
  color: red;
  font-style: italic;
}

.mb-2rem {
  margin-bottom: 2rem;
}

.announcements-popup {
  font-size: 11px;
  margin: 0;
  border-radius: 10px 10px 10px 0;
  padding: 3px 5px;
  background-color: var(--bs-gray-900);
  color: white;
  font-size: 13px;
  display: inline-block;
}

.announcement-duration-option {
  display: 'inline-block';
  padding: 10px;
  border: 1px solid var(--bs-gray-500);
  margin: 1px;
}

.selected {
  background-color: #0085A1;
  color: #fff;
}

.text-truncate-2l {
  overflow: hidden;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.table-layout-fixed {
  table-layout: fixed;
}

.table {
  thead {
    tr {
      th {
        background-color: #BFA48F;
      }
    }
  }
}

.custom-post-badge {
  background-color: darkred !important;
}

.pagination-admin {
  background-color: #e1cdb4;

  li {
    a {
      background-color: #e1cdb4 !important;
    }
  }

  li.active {
    a {
      background-color: #eca1a6 !important;
      color: #212529 !important;
    }
  }
}

.pagination {
  margin: auto;
}

.errors {
  color: darkred;
  font-size: 13px;

  p {
    margin: 0;
  }
}

.ml-1 {
  margin-left: 5px;
}

@media screen and (max-width: 1200px) {
  .input-group-35vw{
    width: 100% !important;
  }

  .form-select {
    &-time {
      display: inline !important;
      width: 48% !important;
    }
  }
}
