.small-content-container {
  margin: auto 30%;

  label {
    align-self: start;
  }
}

.custom-alert {
  background-color: red;
  color: white;
  margin: 0;
}

.notice {
  background-color: black;
  color: white;
  margin: 0;
}

.admin-container {
  display: inline-block;
  flex: 1;
  margin: 10px;
  width: 70%;
  max-height: 98vh;
  overflow: auto;
}

.flex-parent-container {
  display: flex;
  width: 100%;
}

.input-group-35vw{
  width: 35vw !important;
}

.form-select {
  &-time {
    display: inline !important;
    width: 30% !important;
  }
}

.form-group {
  margin-bottom: 5px;
}

.error-feedback {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 80%;
  color: red;
}

.content-input {
  max-height: 70vh;
  overflow-y: scroll;
}

.sticky {
  position: fixed;
  background-color: var(--bs-body-bg);
  width: 100%
}

.small-announcement {
  color: #fff;
  font-size: 14px;
  font-weight: lighter;
  font-style: italic;
  margin-top: 1rem;

  a {
    color: #fff
  }
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.error-message {
  font-size: 15px;
  color: red;
  font-style: italic;
}

@media screen and (max-width: 1200px) {
  .input-group-35vw{
    width: 100% !important;
  }

  .form-select {
    &-time {
      display: inline !important;
      width: 48% !important;
    }
  }
}
