.btn {
  margin-top: 10px;
}

.small-content-container {
  margin: auto 30%;

  label {
    align-self: start;
  }
}

.alert {
  background-color: red;
}

.notice {
  background-color: black;
  color: white;
}
