.dashboard-card {
  border: 1px solid #e6e6e6;
  border-radius: 10px;
  width: 300px;
  height: 70px;
  text-align: center;
  background-color: #fff4f4;
  display: inline-block;
  margin-bottom: 5px;

  .statistic-title {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 5px;
  }
}
