:root {
  --primary-color: #DBEAFE;
  --secondary-color: #2ecc71;
  --background-color: #f5f5f5;
  --text-color: #333333;
  --btn-bg-color: var(--primary-color);
  --btn-text-color: var(--text-color);
  --btn-hover-bg-color: #BFDBFE;
  --main-bg-color: #F9FAFB;
  --sidebar-bg-color: #EEF2F7;
  --fc-bg-color: #F9FAFB;
  --tb-head-th-bg-color: #E8EEF6;
}
