<tr class="align-middle">
  <td class="w-40"><span class="text-truncate-2l"><%= job_log.id %></span></td>
  <td class="w-40"><span class="text-truncate-2l"><%= job_log.job_name %></span></td>
  <td class="w-40"><span class="text-truncate-2l"><%= job_log.created_at %></span></td>
</tr>
